# Bot Framework
pyrogram==2.0.106
TgCrypto==1.2.5
pyromod==3.1.1

# Database
pymongo==4.5.0
motor==3.3.2
dnspython==2.4.2

# Web & HTTP
aiohttp==3.9.1
requests==2.31.0

# Utilities
APScheduler==3.10.4
pytz==2023.3
aiofiles==23.2.1
